{% extends "layout.html" %} 
{% block content %}

<h1 class="title">
    Account Manager
</h1>

<div class="info_text">
  <p>ⓘ Here you can promote and demote users, including disabling accounts</p>
</div>

<!-- Flash messages start -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
        <div>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<table class="item_info_table">
  <h2 class="sub_heading">All active accounts</h2>
    <tr>
      <th class="item_info_header">User ID</th>
      <th class="item_info_header">First name</th>
      <th class="item_info_header">Last name</th>
      <th class="item_info_header">School code</th>
      <th class="item_info_header">Clearance</th>
      <th class="item_info_header">Promote</th>
      <th class="item_info_header">Demote</th>
    </tr> 
    {% for user in users %}
    <tr class="item_info_row">
      <th>{{user.user_id}}</th>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.school_code}}</td>
      <td>
        {% if user.clearance == 0 %}
            Owner (0)
        {% elif user.clearance == 1 %}
            Admin (1)
        {% elif user.clearance == 2 %}
            Member (2)
        {% elif user.clearance == 3 %}
            Disabled (3)
        {% endif %}
      </td>
      
      <td class="edit_item_button"><a class="match_button" href="/promote/{{user.user_id}}">Promote</a></td>
      <td class="edit_item_button"><a class="delete_button" href="/demote/{{user.user_id}}">Demote</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}