{% extends "layout.html" %}
{% block content %}

<h1 class="title">
    Enter your confirmation code
</h1>


<form method='post' action="/confirm" class="upload_form">
    <h2>
        It may take several minutes to recieve the code
    </h2>
    <div class="change_password_bar">
        <input type="number" name="confirmation_number" required>
    </div>
    <div class="submit_button">
        <input type="submit" value="Enter">
    </div>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class=flashes style="text-align: center; padding-top: 5px;">
        {% for message in messages %}
            <div>
            {{ message }}
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% endblock %}