{% extends "layout.html" %} 
{% block content %}

<div class="settings_page delete_account_page">
    <div class="settings_panel delete_account_panel">
        <div class="settings_header">
            <h1 class="title">Delete Account</h1>
        </div>

        <form method="post" action="/delete_account" class="upload_form">
            <div class="settings_field_group">
                <h2 for="password" class="upload_form_subtitle">Enter your previous password</h2>
                <div class="delete_account_bar">
                    <input type="password" id="password" name="password" minlength="6" maxlength="20" placeholder="Enter your old password" required>
                </div>
            </div>

            <div class="delete_account_checkbox">
                <input type="checkbox" value="Checked" id="delete_account" name="delete_account_checkbox">
                <label for="delete_account">I want to delete my account and acknowledge that this action cannot be undone.</label>
            </div>

            <div class="delete_account_submit_button">
                <input type="submit" value="Confirm">
            </div>
        </form>
    </div>

    <!-- Flash messages start -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flashes">
          {% for message in messages %}
            <div>
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <!-- Flash messages end -->
</div>

{% endblock %}