{% extends "layout.html" %}
{% block content %}
<h1 class="title">
    Settings
</h1>


<form method="post" action="/settings">
    <div class="upload_form">
        <h1>
            Change password
        </h1>
        <h2 class="upload_form_subtitle">Enter new password:</h2>
        <div class="change_password_bar">
            <input type="text" name="new_password" minlength="6" maxlength="20" 
            maxlength="15" placeholder="6~20 characters and contain a number" required>
        </div>
        <h2 class="upload_form_subtitle">Enter your previous password:</h2>
        <div class="change_password_bar">
            <input type="password" name="old_password" minlength="6" maxlength="20" 
            maxlength="15" placeholder="Enter your old password" required>
        </div>
        <div class="submit_button">
            <div>
                <input type="submit" value="Change Password">
            </div>
        </div>
    </div>
</form>

<div class="delete_account_button">
    <a href="/delete_account">Delete account</a>
</div>
<!-- Flash messages start -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
        <div>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<!-- Flash messages end -->

{% endblock %}